.importent-list{
    color: blue;
}
.read-more{
    font-size: 15px;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}
.large-text{
    font-size: x-large;
}